<template>
  <Screen class="takeover" >
    <Ui />
  </Screen>
</template>

<script>
import Ui from './Ui';
import Screen from './Screen';

export default {
  name: 'VueMarkdown',
  components: {
      Ui,
      Screen
  },
  props: {},
}
</script>

<style lang="scss" scoped>
.takeover {
  width: 100%;
  height: 100%;
  position: relative;
}
</style>